// Place all the styles related to the pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style: none;
}

.pokemon-index {
  display: flex;
}

.item-images {
  display: flex;
}

.item-images img {
  width: 60px;
}

.item-area {
  border: 2px solid teal;
}

.item-images {
  border: 2px solid magenta;
}

.pokemon-detail {
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  margin-left: 300px;
}

.pokemon-detail p {
  font-size: 16px;
}

.pokemon-index-ul {
  border: 2px solid green;
  // display: flex;
  // flex-direction: column;
  // width: 20%;
  height: 100%;
  overflow: scroll;
}

.pokemon-index-li {
  // border: 2px solid red;
  margin: 10px;
  margin-left: 30px;
}

.index-item-link {
  display: flex;
  align-items: center;
  justify-content: left;
}

.pokemon-index-li span {
  font-size: 25px;
  // border: 2px solid blue;
  margin-left: 10px;
  margin-right: 10px;
}

.pokemon-index-ul img {
  // border: 2px solid blue;
}

.pokemon-index-ul img {
  width: 50px;
}
