<h1>Create a New Sub!</h1>

<form action="<%= subs_path %>" method="post">
  <input type="hidden"
       name="authenticity_token"
       value="<%= form_authenticity_token %>">
  <label for="title">Title</label>
  <input type="text" name="sub[title]" id="title">
  <label for="description">Description</label>
  <textarea name="sub[description]" id="description"></textarea>
  <input type="submit" value="Create Sub!">
</form>
<%= flash[:errors] %>
